/* ****** */
/* DEFAULT STYLES */
/* ****** */
::before,
::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', serif;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

:root {
  --playfair-font: 'Playfair Display', serif;
  --primary-100: #ba7894;
  --primary-200: #422a3c;
  --primary-300: #241520;
  --primary-400: #160813;

  --secondary: #f7e5c1;

  --black-100: #141414;
  --black-200: #555555;

  --gray-100: #667085;
  --gray-200: #f8f8f8;
  --gray-300: #edfff0;

  --white: #ffffff;

  --shadow-sm: 2px 2px 10px 2px #222831;
  --shadow-md: 3px 3px 10px 3px #8695a4;

  --transition-300: 0.3s ease-in-out all;
  --transition-500: 0.5s ease-in-out all;
}

.container {
  width: 100%;
  max-width: 1185px;
  margin: 0 auto;
}
.section {
  padding: 7rem 0;
}
.btn {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 30px;
  color: var(--white);
  background: var(--primary-100);
  border: 2px solid var(--primary-100);
  cursor: pointer;
  transition: var(--transition-300);
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
}
.btn:hover {
  background: var(--primary-200);
  color: var(--primary-100);
}

.title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-100);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}
.subTitle {
  font-weight: 700;
  font-size: 45px;
  line-height: 44px;
  margin-bottom: 16px;
  letter-spacing: 1px;
  font-family: var(--playfair-font);
  color: var(--primary-200);
  text-align: center;
}
.desc {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--black-200);
  text-transform: uppercase;
  margin-bottom: 70px;
  text-align: center;
}

/* ****** */
/* HEADER STYLES */
/* ****** */
.header {
  display: grid;
  place-items: center;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 99;
  background: rgba(0, 0 0, 0.5);
  backdrop-filter: blur(20px);
}

.logoLink {
  width: 194px;
  height: 40px;
}

.logoLink img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.navContainer {
  display: flex;
  align-items: center;
  gap: 36px;
}
.navLinks {
  display: flex;
  gap: 15px;
}

.navLinks a {
  display: inline-block;
  color: var(--black-100);
  font-weight: 500;
  font-size: 16px;
  height: 24px;
  transition: var(--transition-300);
}

.navLinks a:hover {
  color: var(--primary-200);
  text-shadow: 1px 1px 1px var(--primary-100);
  scale: 1.1;
}
.langBtn {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.langBtn span {
  width: 24px;
  height: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.langBtn img {
  width: 24px;
  height: 24px;
}
.authBtn {
  padding: 10px 15px;
  background: transparent;
  border: 2px solid var(--black-100);
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  transition: var(--transition-300);
}
.authBtn:hover {
  color: var(--white);
  background: var(--primary-200);
}
.signInBtn {
  color: var(--white);
  background: var(--black-100);
}
.signInBtn:hover {
  background: var(--primary-200);
}
.menuBtn {
  cursor: pointer;
}

/* ***** */
/* SIDEBAR */
/* ***** */

.sidebar {
  position: fixed;
  inset: 0;
  z-index: 999;
  width: 300px;
  padding-top: 70px;
  background: var(--primary-300);
  transition: var(--transition);
  transform: translateX(-100%);
  transition: var(--transition-500);
}
.showSidebar {
  transform: translateX(0);
}

.sidebar .imgContainer {
  text-align: center;
  margin-bottom: 3rem;
}

.sidebar .content {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 70vh;
}
.sidebar .content .sidebarLinks a {
  display: inline-block;
  padding: 10px 15px;
  color: var(--primary-100);
  letter-spacing: 1.5px;
  transition: var(--transition-300);
}

.sidebar .content .sidebarLinks a:hover {
  border-left: 2px solid var(--white);
  padding-left: 25px;
}
.sidebar .content .sidebarBtnContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sidebar .content .sidebarBtnContainer .authBtn {
  border-color: var(--primary-100);
  color: var(--primary-100);
}
.sidebarCloseBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 2px solid var(--primary-100);
  background: rgba(0, 0, 0, 0.1);
  color: var(--white);
  cursor: pointer;
  transition: var(--transition-300);
}
.sidebarCloseBtn:hover {
  background: var(--primary-100);
}
/* ****** */
/* HERO STYLES */
/* ****** */
.main {
  height: calc(100vh - 100px);
  /* background: red url('../images/hero.png') no-repeat center/cover; */

  /* background: var(--primary-200); */
  background: linear-gradient(
    89.61deg,
    #422a3c 55.75%,
    rgba(66, 42, 60, 0.99) 66.03%,
    rgba(66, 42, 60, 0.9) 75.96%,
    rgba(66, 42, 60, 0.81) 99.81%
  );

  display: grid;
  place-items: center;
}

.mainContent {
  padding: 0 15px;
}
.mainContent .title {
  display: flex;
  align-items: center;
  gap: 15px;
}
.mainContent .title p {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--white);
}
.mainContent h1 {
  font-family: var(--playfair-font);
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: var(--secondary);
  margin-top: 12px;
  margin-bottom: 24px;
}
.mainContent > p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: var(--white);
  margin-bottom: 52px;
}

.form {
  width: 100%;
  max-width: 950px;
  background: var(--white);
  border-radius: 10px;
  padding: 20px 10px;
  overflow: hidden;

  display: grid;
  gap: 10px;
}
.inputGroup {
  padding: 5px 7px;
}
.inputGroup .imgContainer {
  width: 16px;
  height: 16px;
}
.inputGroup .imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.inputGroup label {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--primary-100);
}
.inputGroup .formInput {
  display: flex;
  border-bottom: 2px solid var(--black-100);
}
.inputGroup .formInput input {
  flex: 1;
  margin-right: 1rem;
  padding: 10px 2px;
  border: none;
  outline: none;
}
.inputGroup .formInput input::placeholder {
  color: var(--black-100);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
}

.submitBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.submitBtn img {
  width: 26px;
  height: 26px;
}

/* ****** */
/* SLICK IMAGES STYLES */
/* ****** */

.slider {
  padding: 10px 30px;
  position: relative;
}

.singleSlider .imgContainer {
  /* width: 130px;  not applied here*/
  height: 130px;
  border-radius: 50%;
  background: var(--secondary);
  display: grid;
  align-content: center;
  place-items: center;
  margin-bottom: 24px;
}
.singleSlider h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}
.slick-slide {
  margin-right: 2rem;
}
.slickPrev,
.slickNext {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: var(--transition-300);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  z-index: 10;
}

.slickPrev:hover,
.slickNext:hover {
  scale: 1.1;
}

/* ****** */
/* SERVICES */
/* ****** */
.servicesSection {
  padding: 0 20px;
}
.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
  position: relative;
}

.singleService {
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid #b4bbc2;
  transition: var(--transition-300);
}
.singleService:hover {
  box-shadow: var(--shadow-md);
}

.singleService .imgContainer {
  width: 100%;
}
.singleService .imgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.singleService .content {
  padding: 24px;
}

.ratingAndReview {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
.rating {
  display: flex;
  align-items: center;
  gap: 10px;
}
.ratingImgContainer {
  width: 18px;
  height: 18px;
}
.ratingImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rating span {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--primary-100);
}
.locationImgContainer {
  width: 18px;
  height: 18px;
}
.locationImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.review {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  font-family: var(--playfair-font);
  color: var(--black-100);
}
.details h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  font-family: var(--playfair-font);
  color: var(--black-100);
  margin-bottom: 10px;
}

.location {
  display: flex;
  gap: 10px;
  margin-bottom: 24px;
}
.location img {
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.location p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--black-200);
}
.singleServiceBtn {
  display: block;
  width: 100%;
  border-radius: 5px;
  font-family: var(--playfair-font);
}

.leftArrow,
.rightArrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: var(--transition-300);
  display: none;
}
.leftArrow {
  left: -40px;
}
.rightArrow {
  right: -40px;
}
.leftArrow:hover,
.rightArrow:hover {
  scale: 1.1;
}

/* ****** */
/* TESTIMONIALS */
/* ****** */
.testimonialSection {
  background: linear-gradient(128.1deg, #fdfdfd 5.48%, #f0f0f0 89.93%);
  padding-left: 10px;
  padding-right: 10px;
}

.testimonials {
  background: var(--primary-200);
  border-radius: 30px;
  padding: 30px 40px;
  margin-top: 67px;
  text-align: center;
}

.quoteArrow {
  width: 45px;
  height: 40px;
}

.singleReview .content {
  margin-top: 3rem;
  text-align: start;
  position: relative;
}
.singleReview .content .quoteRight {
  position: absolute;
  top: -50px;
  left: -37px;
}
.singleReview .content .quoteLeft {
  position: absolute;
  bottom: -10px;
  right: -20px;
}

.reviewUsername {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: var(--gray-300);
}
.reviewLocation {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  margin-bottom: 20px;
}
.reviewTitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: var(--gray-300);
  font-family: var(--playfair-font);
  margin-bottom: 12px;
}
.reviewMessage {
  font-weight: 400;
  font-size: 19px;
  line-height: 35px;
  color: var(--white);
}
.btnContainer {
  margin-top: 56px;
  display: flex;
  justify-content: center;
  gap: 15px;
}
.btnContainer button {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--transition-300);
  background: transparent;
}
.btnContainer button:hover {
  background: var(--primary-100);
}
.btnContainer .rightBtn {
  background: var(--primary-200);
}

/* ****** */
/* FOOTER */
/* ****** */
.footer {
  background: var(--primary-300);
  padding-top: 3rem;
}

.footerSection {
  padding: 0 25px;
}

.logoAndSocialLinksContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerSocialLinks {
  display: flex;
  gap: 10px;
}

.footerSocialLinks li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  border: 2px solid var(--gray-200);
}
.footerSocialLinks li a {
  transition: var(--transition-300);
}
.footerSocialLinks li a:hover {
  scale: 1.2;
}

.divider {
  margin: 3rem 0;
  height: 1px;
  background: var(--primary-200);
}

.footerNavigationLinks h4,
.footerContact h4 {
  font-family: var(--playfair-font);
  color: var(--white);
  font-weight: 700;
  font-size: 22px;
  line-height: 31px;
  margin-bottom: 22px;
}
.footerNavigationLinks .footerLinks a {
  display: inline-block;
  color: var(--white);
  font-weight: 500;
  font-size: 17px;
  line-height: 34px;
  transition: var(--transition-300);
}

.footerNavigationLinks .footerLinks a:hover {
  scale: 1.1;
  text-shadow: 1px 1px 1px var(--primary-100);
}

.contactInfo div {
  display: flex;
  margin-bottom: 14px;
  /* justify-content: start; */
}
.contactInfo h5 {
  color: var(--white);
  font-weight: 700;
  font-size: 17px;
  line-height: 26px;
  flex: 1 0 30%;
}
.contactInfo p {
  color: var(--white);
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  flex: 1 1 70%;
}

.footerSection .content {
  padding-bottom: 78px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.copyRightSection {
  background: var(--primary-400);
  padding: 20px 0;
}

.copyRightSection p {
  background: var(--primary-400);
  color: var(--white);
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
}
/* ****** */
/* MEDIA QUERY */
/* ****** */
@media screen and (max-width: 768px) {
  .navContainer {
    display: none;
  }

  .footerContact {
    margin: 2rem 0;
  }
  .logoAndSocialLinksContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .sidebar {
    display: none;
  }
  .navContainer {
    display: flex;
  }
  .menuBtn {
    display: none;
  }
  .form {
    grid-template-columns: 1fr 1fr;
  }
  .submitBtn {
    grid-column: 1 / -1;
  }
  .singleReview {
    display: flex;
    align-items: center;
    gap: 90px;
  }
  .singleReview .imgContainer img {
    position: relative;
    width: 280px;
    height: 280px;
  }
  .singleReview .imgContainer {
    position: relative;
  }
  .singleReview .imgContainer::before {
    content: '';
    position: absolute;
    top: -30%;
    left: -20px;
    width: 70px;
    height: 443px;
    background: var(--white);
    border-radius: 50px;
  }
  .footerSection .content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .mainContent {
    padding: 0 7rem;
  }
  .mainContent h1 {
    margin-top: 0;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
  }

  .form {
    grid-template-columns: 1fr 1fr 210px;
    border-radius: 50px;
    padding: 15px 20px;
    gap: 25px;
  }

  .submitBtn {
    border-radius: 50px;
    grid-column: 3 / -1;
  }
  .reviewTitle {
    font-size: 36px;
    line-height: 44px;
  }
  .testimonials {
    padding: 130px 200px;
  }
  .singleReview .imgContainer::after {
    content: '';
    position: absolute;
    top: -30%;
    left: -40%;
    width: 70px;
    height: 228px;
    background: var(--white);
    border-radius: 50px;
  }
  .footerSection {
    padding: 0 50px;
  }
}

@media screen and (min-width: 1170px) {
  .main {
    background: linear-gradient(
        89.61deg,
        rgba(66, 42, 60, 1) 45.75%,
        rgba(66, 42, 60, 0.85) 55.03%,
        rgba(66, 42, 60, 0.8) 58.96%,
        rgba(66, 42, 60, 0.31) 65.81%,
        rgba(66, 42, 60, 0) 99.7%
      ),
      url('../images/hero.png') no-repeat right/55% 100%;
  }
  .leftArrow,
  .rightArrow {
    display: block;
  }
}
